---
const today = new Date();
---

<footer class="flex align-center justify-center text-skin-base">
    <span class="text-skin-accent">&copy; </span>
    {today.getFullYear()} Sirius. All rights reserved.
</footer>
