---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="border-b border-skin-line bg-skin-fill">
    <nav class="max-w-7xl px-6 mx-auto flex justify-between items-end">
        <a
            href="/"
            class="py-(--header-padding) font-display text-2xl text-skin-accent-dark active:text-decoration-none"
            >{SITE_TITLE}</a
        >
        <div class="internal-links flex gap-3">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/projects">Projects</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
    </nav>
</header>
