<button id="lang-toggle" class="p-2 border border-skin-line rounded"> 繁/簡 </button>

<script>
    const btn = document.getElementById("lang-toggle");
    btn?.addEventListener("click", () => {
        const current = document.documentElement.lang;
        const next = current.includes("Hant") || current.includes("TW") ? "zh-Hans" : "zh-Hant";

        document.documentElement.lang = next;
        localStorage.setItem("preferred-lang", next);
    });
</script>
