---
import "../styles/global.css";

interface Props {
    title: string;
}
const { title } = Astro.props;
---

<script is:inline>
    // Check for saved preference or system locale
    const savedLang = localStorage.getItem("preferred-lang") || "zh-Hans";
    document.documentElement.lang = savedLang;
</script>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
