---
import BaseHead from "../components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import ProjectCard from "@components/ProjectCard.astro";
import type { Project } from "@objects/types";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

interface Props {
    projects: Project[];
}

const { projects } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main class="flex flex-col justify-content-center w-4xl">
            <h2 class="p-6 font-bold text-skin-accent-dark">Self Introduction</h2>
            <section id="summary" class="pr-6 pb-6 pl-6">
                <p class="mb-3">
                    Previous Bachelor & PhD candidate in Energy and Thermophysics at Tsinghua
                    University.<br />
                    Current MSCS graduated from University of Southern California.<br />
                    Proficient in Backend Development, Frontend Development, and DevOps.<br />
                    Exploring cloud infrastructure, distributed systems, and machine learning.
                </p>
                <div id="skills" class="mb-3 text-skin-base">
                    <h4 class="font-semibold text-skin-accent-dark">
                        I have experience writing...
                    </h4>
                    <ul style="list-style-type: none; padding-left: 0">
                        <li>Programming Languages: Go, C/C++, Java, Python, JavaScript</li>
                        <li>
                            Backend: Java (Spring), Go (Echo, Fiber, Gin, gRPC), Python (Flask),
                            Node.js (Express)
                        </li>
                        <li>Frontend: React, Angular, TanStack, Solid.js</li>
                        <li>Mobile: Android (Kotlin)</li>
                        <li>Game: Unity (C#)</li>
                        <li>
                            Database & Middleware: PostgreSQL, MySQL, MongoDB, Redis, RabbitMQ,
                            Kafka
                        </li>
                        <li>DevOps: Docker, AWS, GCP, GitHub Actions</li>
                    </ul>
                </div>
                <div id="contact" class="mb-3 text-skin-base">
                    <h4 class="font-semibold text-skin-accent-dark">You can reach me at...</h4>
                    <ul style="list-style-type: none; padding-left: 0">
                        <li>
                            GitHub: <a href="https://github.com/shujiejune" target="_blank"
                                >shujiejune</a
                            >
                        </li>
                        <li>Email: sharon.withe.alt@gmail.com</li>
                    </ul>
                </div>
            </section>
            <section id="projects" class="p-6">
                <h2 class="mb-6 font-bold text-skin-accent-dark">Featured Projects</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 pt-9">
                    {projects.map((proj) => <ProjectCard project={proj} />)}
                </div>
            </section>
        </main>
        <Footer />
    </body>
</html>
